body {
        background-image: url(unnamed.png);
        background-color:white;
        margin: 0;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        
    }
a{
	color:red;
	text-decoration: none;
	font-weight: bold;
	
}

 #main {
 	background-image: url(209.jpg);
        width: 960px;
        margin: 20px auto;
        padding: 10px;
		list-style-position: inside;
		border-radius: 2em;
    }

    #menu{
    	border-radius: 1em;
    	padding: 10px ;
    	text-align: center;
    	width: 960px;
    	background-image: url(209.jpg);
    	color:green;
    	margin: 10px auto;
    	list-style-position: inside;
    }
    h1 {
    	height: 50px;
    	vertical-align: middle; 
    	text-align: left;
    background:#252525; /* Цвет фона блока */ 
    margin: 0; /* Нулевые отступы вокруг текста */ 
    padding: 10px; /* Поля вокруг текста */ 
   }
    #logo{

    	padding-right: 10px;
        width: 70px; 
		height: 70px; 
		float: left;
	}
	#siteHeader { 	
		background-image: url(unnamed.png);
		text-align: left;
		color: white;
		height: 70px;
		padding-top:20px;
		padding-bottom: 20px;

	}
	#insideHeader{
		max-width: 960px;
		margin: auto;
	}
	#footer_site { 
		padding-bottom: 20px;
		padding-top:20px;
		background-color: black;
		text-align: center;
		color: #fdfdff;
		font-size: 150%;
	}

table {
	text-align: center;
    width: 960px; /* Ширина таблицы */
    border: 5px groove #ccc; /* Рамка вокруг таблицы */
    margin:auto;
    border-spacing: 0px;
    table-layout: fixed;
   }
   .coll{
   	width: 150px;
   }
   .coln{
   	width: 270px;
   }
   th {
    background: #4b0082; /* Цвет фона (#4b0082-фиолетовый)*/
    color: #fffff0; /* Цвет текста */
    border: 2px solid #ccc;
   }

   td {
   	border: 2px solid #ccc;
    padding: 1px; /* Поля вокруг содержимого ячеек */
   }

   th, td {
		padding: 10px;
	}

   tr:nth-child(odd) {
		background: #ffa450;
	}

	tr:nth-child(even) {
		background: #008080;
	}
